@model MvcMeetcha.Models.Meetup

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Meetup</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="MeetupName" class="control-label"></label>
                <input asp-for="MeetupName" class="form-control" />
                <span asp-validation-for="MeetupName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MeetupDescription" class="control-label"></label>
                <input asp-for="MeetupDescription" class="form-control" />
                <span asp-validation-for="MeetupDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MeetupDate" class="control-label"></label>
                <input asp-for="MeetupDate" class="form-control" />
                <span asp-validation-for="MeetupDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MeetupStartTime" class="control-label"></label>
                <input asp-for="MeetupStartTime" class="form-control" />
                <span asp-validation-for="MeetupStartTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MeetupEndTime" class="control-label"></label>
                <input asp-for="MeetupEndTime" class="form-control" />
                <span asp-validation-for="MeetupEndTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MeetupTypeId" class="control-label"></label>
                <select asp-for="MeetupTypeId" class ="form-control" asp-items="ViewBag.MeetupTypeId">
                    <option value="">-- Select Type --</option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="MeetupVenue" class="control-label"></label>
                <input asp-for="MeetupVenue" class="form-control" />
                <span asp-validation-for="MeetupVenue" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MeetupFee" class="control-label"></label>
                <input asp-for="MeetupFee" class="form-control" />
                <span asp-validation-for="MeetupFee" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MeetupImageFile" class="control-label"></label>
                <input asp-for="MeetupImageFile" type="file" accept="image/*" onchange="loadFile(event)" />
                <span asp-validation-for="MeetupImageFile" class="text-danger"></span>
            </div>
            <div>
                <img id="output" width="200" />
            </div>
            <script>
            var loadFile = function(event) {
                var image = document.getElementById('output');
                image.src = URL.createObjectURL(event.target.files[0]);
            };
            </script>
            <div class="form-group">
                <label asp-for="GroupId" class="control-label"></label>
                <select asp-for="GroupId" class ="form-control" asp-items="ViewBag.GroupId">
                    <option value="">-- Select Type --</option>
                </select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
